doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Сайт для лаб.раб №4
  body
    nav
      big
        p
          a(href='index.html') Главная
        p
          a(href='rozklad.html') Расписание
        p
          a(href='news.html') Новости
    h1 Фотоальбом
    p
      | Честно говоря,долго думал какие фотки вставить.Остановился на этих.Тут находятся игры в которые я хочу поиграть/играл/играю
      | постоянно.Ничего лучше не придумал =)
    p
      a(href='https://upload.wikimedia.org/wikipedia/en/9/9f/Cyberpunk_2077_box_art.jpg' target='_blank')
        img(src='https://upload.wikimedia.org/wikipedia/en/9/9f/Cyberpunk_2077_box_art.jpg' width='189' height='255' alt='Нет картинки...')
      br
    p Cyberpunk ,20 КБ 
    a(href='https://cdn-prod.scalefast.com/public/assets/user/122595/image/5243deb55a7ee9587ad2db9298e96ca5.jpg' target='_blank')
      img(src='https://cdn-prod.scalefast.com/public/assets/user/122595/image/5243deb55a7ee9587ad2db9298e96ca5.jpg' width='189' height='255' alt='Нет картинки...')
    br
    p Dark Souls 3 ,752 КБ 
    a(href='https://s3.gaming-cdn.com/images/products/3104/orig/yakuza-0-cover.jpg' target='_blank')
      img(src='https://s3.gaming-cdn.com/images/products/3104/orig/yakuza-0-cover.jpg' width='189' height='255' alt='Нет картинки...')
    br
    p Yakuza 0 ,384 КБ 
    a(href='https://upload.wikimedia.org/wikipedia/en/4/47/Tom_Clancy%27s_Rainbow_Six_Siege_cover_art.jpg' target='_blank')
      img(src='https://upload.wikimedia.org/wikipedia/en/4/47/Tom_Clancy%27s_Rainbow_Six_Siege_cover_art.jpg' width='189' height='255' alt='Нет картинки...')
    br
    p Tom Clancy's Rainbow Six Siege, 24,0 КБ 
    a(href='https://i1.wp.com/itc.ua/wp-content/uploads/2019/02/Apex-Legends.jpg?fit=1600%2C1136&quality=100&strip=all&ssl=1' target='_blank')
      img(src='https://i1.wp.com/itc.ua/wp-content/uploads/2019/02/Apex-Legends.jpg?fit=1600%2C1136&quality=100&strip=all&ssl=1' width='189' height='255' alt='Нет картинки...')
    br
    p Apex-Legends, 412 КБ 
    a(href='https://s3.gaming-cdn.com/images/products/932/orig/terraria-cover.jpg' target='_blank')
      img(src='https://s3.gaming-cdn.com/images/products/932/orig/terraria-cover.jpg' width='189' height='255' alt='Нет картинки...')
    br
    p Terraria, 580 КБ 
    a(href='https://cdn-products.eneba.com/resized-products/M1lNOEB_350x200_3x-0.jpg' target='_blank')
      img(src='https://cdn-products.eneba.com/resized-products/M1lNOEB_350x200_3x-0.jpg' width='189' height='255' alt='Нет картинки...')
    br
    p PayDay 2, 228 КБ  
    a(href='https://images-na.ssl-images-amazon.com/images/I/811ZPN%2B7KML._SL1500_.jpg' target='_blank')
      img(src='https://images-na.ssl-images-amazon.com/images/I/811ZPN%2B7KML._SL1500_.jpg' width='189' height='255' alt='Нет картинки...')
    br
    p Portal 2, 132 КБ  
    footer(align='center')
      h3 фсе
