doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Сайт для лаб.раб №4
  body
    nav
      big
        p
          a(href='index.html') Главная
        p
          a(href='photo.html') Фото
        p
          a(href='news.html') Новости
    table(border='0' align='center' rules='rows' style='width:100%;')
      tbody
        tr
          td
        tr
          th
            h1 Сайт для лаб.раб №4
            h2 Рассписание:
    table(border='1' align='center' bgcolor='ffffff' cellpadding='10' style='width:100%; border-radius:0px;')
      tbody
        tr
          td(style='width:10%')
            | Время
            p
          td(style='width:18%') Понедельник
          td(style='width:18%') Вторник
          td(style='width:18%') Среда
          td(style='width:18%') Четверг
          td(style='width:18%') Пятница
        tr
          td 8-00
          td
          td
            | Архітектура обчислювальних систем 
            mark /
            |  Теорія ймовірності
          td
          td
          td Теорія ймовірності
        tr
          td 9-35
          td Вибiрковi дисциплiни
          td Основи інтернет технологій
          td
          td Математична логіка
          td Теорія ймовірності
        tr
          td 11-25
          td Архітектура обчислювальних систем
          td
          td
          td Математична логіка
          td Алгоритми та структури даних
        tr
          td 12-55
          td
          td
          td
            | Алгоритми та структури даних 
            mark /
            |  Основи інтернет технологій
          td
          td
    h2 Список преподавателей
    p
      | Лісняк Андрій Олександрович
      br
      | Ільющенко Наталія Олександрівна
      br
      | Левчук Сергій Анатолійович
      br
      | Гребенюк Сергій Миколайович
      br
      | Д’яченко Наталія Миколаївна
      br
      | Тодоріко Ольга Олексіївна
      br
      | Тупахіна Олена Володимирівна
      br
      | Винарчук Тетяна Валеріївна
      br
      | Курапов Сергій Всеволодович
      br