html
  head
    title  
  body
    header
      h1 
      nav
        ul
          li
            big
              p
                a(href='')
    section
      h1 
      big
        p
          | 
    footer
      p 